<div class="columns">

  <!--<div class="column is-one-third">-->
    <!--&lt;!&ndash;<app-user-template-based-form&ndash;&gt;-->
      <!--&lt;!&ndash;[user]="user"&ndash;&gt;-->
      <!--&lt;!&ndash;(userSubmit)="userSubmitTemplateBased($event)">&ndash;&gt;-->
    <!--&lt;!&ndash;</app-user-template-based-form>&ndash;&gt;-->
  <!--</div>-->


  <!-- TODO 2.2 - odkomentujte reaktivní formulář -->

    <div class="column is-offset-1">
      <app-user-reactive-form
        [user]="user"
        (userSubmit)="userSubmitReactive($event)">
      </app-user-reactive-form>
    </div>

  <div class="column is-one-third">
    <app-user-profile [user]="user"></app-user-profile>
  </div>

</div>
