<h3 class="subtitle">Reactive form</h3>

<!--TODO 2.2.1 - propojte formulář s definicí-->
<form novalidate
      (ngSubmit)="onSubmit(userForm)"
      [formGroup]="userForm">

  <label class="label" for="userName">Name</label>
  <div class="control">
    <!--TODO 2.2.3 - propojte prvek s formulářem - name-->
    <input class="input" id="userName" type="text"
           formControlName="name"
    />

    <!--TODO 2.4.1 - odkomentujte zobrazení validační hlášky -->
    <app-form-control-errors controlName="name"></app-form-control-errors>
  </div>

  <label class="label" for="userSurname">Surname</label>
  <div class="control">
    <!--TODO 2.2.2 - propojte prvek s formulářem - surname-->
    <input class="input" id="userSurname" type="text"
           formControlName="surname"
    />

    <!--TODO 2.4.1 - odkomentujte zobrazení validační hlášky -->
    <app-form-control-errors controlName="surname"></app-form-control-errors>
  </div>

  <!--TODO 2.2.2 - přidejte skupinu contact-->
  <div formGroupName="contact">

    <label class="label" for="phone">Phone</label>
    <div class="control has-icon has-icon-right">
      <!--TODO 2.2.3 - propojte prvek s formulářem - phone-->

      <input class="input" id="phone" type="text" name="phone"
             formControlName="phone"
      />
      <span class="icon icon-spinner">
        <i class="fa fa-spinner"></i>
      </span>

      <!--TODO 2.4.1 - odkomentujte zobrazení validační hlášky -->
      <app-form-control-errors controlName="phone"></app-form-control-errors>

    </div>

  </div>

  <div class="control buttons">
    <button class="button is-primary" type="submit">Submit</button>
  </div>

  <!--TODO 2.2.4 - odkomentujte ladící pomůcku-->
  <!--<app-form-metadata-viewer [control]="userForm"></app-form-metadata-viewer>-->
</form>

