.ng-touched.ng-invalid, .ng-submitted .ng-invalid {
  border-color: #ff3860;
}

.ng-touched.ng-valid {
  border-color: #23d160;
}

input.ng-touched.ng-pending {
  background: lightgray;
}

.ng-valid .icon-spinner, .ng-invalid .icon-spinner {
  display: none;
}

.ng-pending .icon-spinner {
  display: inline-block;
}

.input:focus, .input.is-focused, .input:active, .input.is-active, .textarea:focus, .textarea.is-focused, .textarea:active, .textarea.is-active {
  border-color: grey;
}

